<h2>Chapter 1</h2>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="div-btn">
    <div class="add-chap">
        <span class="material-icons">
            add_circle
        </span>
        <p>Add chapter</p>
    </div>
    <div class="end-story">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                End of story
            </label>
        </div>
    </div>
</div>
<!--<h2>Chapter</h2>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="div-btn">
    <div class="add-chap">
        <span class="material-icons">
            add_circle
        </span>
        <p>Add chapter</p>
    </div>
    <div class="end-story">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                End of story
            </label>
        </div>
    </div>
</div>-->
<div class="container">
    <input class="btn btn-primary" type="submit" value="Submit">
</div>