.add-chap{
    display: flex;
    align-items: center;
    span{
        padding-right: 10px;
        cursor: pointer;
    }
    p{
        margin: 0;
    }
}
.container{
    display: flex;
    justify-content: center;
    .btn{
        margin: auto;
    }
}