.text-green{
    color: chartreuse;
}
.text-red{
    color: crimson;
}
.text-orange{
    color: darkorange;
}
.text-yellow{
    color: gold;
}



.bgc-green{
    background-color:rgba(40, 167, 69, 0.8);
}

.bgc-red{
    background-color:rgba(248, 73, 73, 0.8);
}

.bgc-orange{
    background-color:rgba(244, 140, 81, 0.8);
}

.bgc-yellow{
    background-color:rgba(240, 224, 77, 0.8)
}

.modifier{
    float: right;
}