<div class="container marginTop">
  <h1>Connexion</h1>
  <form class="form-group formulaire">
    <h6>MAIL</h6>
    <label class="sr-only" for="formGroupExampleInput">Mail</label>
    <div class="input-group mb-2 mr-sm-2 input">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Mail">
    </div>
    <h6>PSEUDO</h6>
    <label class="sr-only" for="formGroupExampleInput">PSEUDO</label>
    <div class="input-group mb-2 mr-sm-2 input">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="PSEUDO">
    </div>
    <h6>MOT DE PASSE</h6>
    <label class="sr-only" for="formGroupExampleInput">MOT DE PASSE</label>
    <div class="input-group mb-2 mr-sm-2 input">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="MOT DE PASSE">
    </div>
    <h6>CONFIRMATION DE MOT DE PASSE</h6>
    <label class="sr-only" for="formGroupExampleInput">CONFIRMATION DE MOT DE PASSE</label>
    <div class="input-group mb-2 mr-sm-2 input">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="CONFIRMATION DE MOT DE PASSE">
    </div>

    <button type="submit" class="btn btn-primary registerButton">S'inscrire</button>
  </form>
</div>
