.mb-3{
    form{
        label{
            font-weight: bold;
            font-size: 1.2rem;
        }
        .form-control{
            margin-bottom: 1.5rem;
        }
        .form-select{
            margin-bottom: 1.5rem;
        }
    }
}