<div class="container marginTop">
  <h1>Connexion</h1>
  <form class="form-group formulaire">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Email ou Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
    </div>
    <label class="sr-only" for="inlineFormInputGroupUsername2">Password</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
    </div>


    <div class="form-check checkBox">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Se Souvenir De Moi</label>
    </div>
    <button type="submit" class="btn btn-primary connectButton">Se Connecter</button>
    <p class="linkRegister">Pas encore inscrit? <a href="../register/register.component.html">Inscrivez-vous ici</a></p>
  </form>
</div>
