.marginTop{
  margin-top: 0;
  .formulaire{
    margin-top: 15px;
    .input-group{
    }
    .checkBox{
      margin-top: 50px;
    }
    .connectButton{
margin: 10px 30%;    }
    .linkRegister{
      text-align: center;
    }
  }
}

.form-control{
  margin-bottom: 2rem;
}
