<div class="container marginTop">
  <h1>Connexion</h1>
  <form class="form-group formulaire"
        (ngSubmit)="onSubmit(loginForm)"
        #loginForm="ngForm"
        [formGroup]="loginForm">
    <label class="sr-only" for="mail">Email</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="email"
            class="form-control"
            id="floatingInput"
            placeholder=""
            formControlName="mail"
            ngModel
            required>
    </div>
    <label class="sr-only" for="password">Password</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">*</div>
      </div>
      <input type="password"
              class="form-control"
              id="floatingPassword"
              placeholder=""
              formControlName="password"
              ngModel
              required>
    </div>


    <div class="form-check checkBox">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Se Souvenir De Moi</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary"
    type="submit"
    (click)="onSubmit(loginForm)"
    [disabled]="loginForm.invalid">Se Connecter</button>
    <p class="linkRegister">Pas encore inscrit? <a href="../register/register.component.html">Inscrivez-vous ici</a></p>
  </form>
</div>
