<form [formGroup]="chapterForm" (ngSubmit)="OnSubmit()">
    <div>
        <h2>Rédiger un chapitre</h2>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Titre du chapitre</label>
            <input class="form-control" formControlName="title">
            <label for="exampleFormControlTextarea1" class="form-label">Résumé du chapitre</label>
            <input class="form-control" formControlName="resume">
            <label for="exampleFormControlTextarea1" class="form-label">Contenu du chapitre</label>
            <textarea class="form-control" rows="3" formControlName="content"></textarea>

            <label for="exampleFormControlTextarea1" class="form-label">Positionnement du chapitre</label>
            <select class="form-select" formControlName="type">
                <option value="Other" selected>Autre</option>
                <option value="Start">Début</option>
                <option value="End">Fin</option>
            </select>
        </div>
    </div>
    <div class="container">
        <input class="btn btn-primary" type="submit" value="Submit" [disabled]="chapterForm.invalid">
    </div>
</form>